@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

    body {
        overflow-x:  hidden;
        font-family: 'Open Sans', sans-serif;

        #modal {
            .container-fluid {
                .row {
                    .col-12 {
                        height: 40px;
                        background: #000;

                        .Modal-header {
                            .modalText {
                                color: #fff;
                                font-weight: 400;
                            }
                        }

                        .closeModal {
                            right: 1%;
                            display: flex;
                            align-items: center;

                            i {
                                font-size: 30px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        #header {
            display: flex;
            align-items: center;
            height: 90px;
            position: relative;
            z-index: 1000;
            background-color: #fff;
            box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.137);

            .logo {
                color: #000;
                text-decoration: none;
                font-weight: bold;
                font-size: 24px;
            }

            #navbar {
                display: flex;
                align-items: center;

                .nav-list {
                    padding: 0;
                    margin: 0;
                    height: 90px;
                    justify-content: center;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 400px;

                    .nav-item {
                        .nav-link {
                            color: #000;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        #main {
            #banner {
                background: #f3f2ee;

                .container-fluid {
                    height: 70vh;

                    .banner-col {
                        height: 70vh;

                        .banner-item {
                            .red-color {
                                color: crimson;
                                font-size: 20px;
                                font-weight: bold;
                            }

                            .black-color {
                                color: #000;
                                font-weight: bold;
                                font-size: 26px;
                                margin-bottom: 7px;
                            }

                            p {
                                color: #000;
                                font-size: 16px;
                                font-weight: normal;
                            }

                            .banner-btn {
                                width: 200px;
                                border: none;
                                background: #000;
                                color: #fff;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                padding: 10px 0;
                                transition: 300ms all;

                                &:hover {
                                    color: crimson;
                                }
                            }
                        }

                        .banner-fhoto {
                            .banner-img {
                                height: 70vh;
                            }
                        }
                    }
                }
            }

            #content {
                .container {
                    .row {
                        .content-col {
                            .img{
                            .img-text {
                                top: 100px;
                                left: 50px;

                                span {
                                    font-weight: bold;
                                    color: #000;
                                    font-size: 20px;
                                    padding-bottom: 5px;
                                    margin-bottom: 5px;
                                }

                                .imgLink {
                                    text-decoration: none;
                                    color: #000;
                                    position: relative;
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                    padding-bottom: 5px;
                                    
                                    &::after{
                                        content:"";
                                        width: 100px;
                                        height: 2px;
                                        background: crimson;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        transition: 300ms all;
                                    }
                                    &:hover::after{
                                        width: 40px;
                                    }
                                }
                            }
                            }
                        }
                    }
                }
            }

            #sellers {
                .container {
                    .row {
                        .sell-col {
                            display: flex;
                            justify-content: center;

                            .sellers-item {
                                width: 290px;
                            }
                        }
                    }
                }
            }

            #last {
                overflow-x: hidden;
                .container {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .row {
                        .last-col {
                            display: flex;
                            justify-content: center;
                            .imgarea {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                .img-text-area {
                                    color: #000;
                                    width:auto;
                                    position: absolute;
                                    bottom: -50px;
                                    padding: 10px 15px;
                                    padding-bottom: 20px;
                                    background: #fff;
                                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

                                    .lastLink {
                                        letter-spacing: 2px;
                                        text-transform: uppercase;
                                        text-decoration: none;
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #mobil-menu{
                transition: 300ms all;
                z-index: 2000;
                position: fixed;
                top:0;
                width: 70%;
                left: -100%;
                &.active{
                left:0;
                }
                .container-mobil{
                    padding: 30px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 100vh;
                    background: #fff;
                    .logo{
                        font-size: 30px;
                        a{
                            color:#000;
                            text-decoration: none;
                        }
                    }
                    .for-nav{
                        nav{
                            ul{
                                li{
                                    margin-bottom: 10px;
                                    a{
                                        font-size: 20px;
                                        text-decoration: none;
                                        color:#000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #footer{
            padding: 40px 40px;
            margin-top: 100px;
            background: rgb(22, 22, 22);
            .ft-col{
                h4{
                    font-size: 35px;
                    color:#fff;
                }
                p{
                    font-weight: bold;
                    margin-top: 5px;
                    color:#fff;
                }
                ul{
                    li{
                        color:#fff;
                        font-weight: bold;
                        margin-bottom: 10px;
                        a{
                            text-decoration: none;
                            font-weight: normal;
                            color:#fff;
                        }
                    }
                }
            }
   .last-text{
       padding-top: 15px;
       color:#fff;
       border-top: 1px solid rgba(255, 255, 255, 0.295);
   }
        } 

      //RESPONSIVE SCSS
        @media only screen and (max-width:991px){
                #header{
                   .container-fluid{
                       margin: 0 !important;
                       .row{
                        .col-4{
                            #navbar{
                               .nav-list{
                                   display: none;
                               }
                            }
                        }
                        .col-4{
                            .iconList{
                                display: none !important;
                            }
                            .opennav{
                                cursor: pointer;
                                display: block !important;
                                font-size: 30px;
                            }
                        }
                       }
                   }
                }
        }

        @media only screen and (max-width:750px){
            #main{overflow-x: hidden;
                #banner{
                    .container-fluid{
                        height: 100vh !important;
                        .banner-col{
                            height: 40vh !important;
                            .banner-fhoto{
                                .banner-img{
                                    height:60vh;
                                }
                            }
                        }
                    }
                }
                #content{
                    .container{
                        .row{
                            .content-col{
                                .img{
                                    margin-bottom: 10px;
                                    .img-text{
                                        top: 40px;
                                        span{
                                            font-size:17px;
                                        }
                                        .imgLink{
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                #sellers{
                    .container{
                        .row{
                            .sell-col{
                                .sellers-item{
                                    margin-top: 20px !important;
                                }
                            }
                        }
                    }
                }
                #last{
                    padding: 0 !important;
                    .container{
                        .row{
                            .imgarea{
                                margin:0;
                                margin-bottom: 70px;
                            
                            }
                        }
                    }
                }
            }

            #footer{
                padding: 0;
                .container{
                    .row{
                        .ft-col{
                            display: flex;
                            justify-content: flex-start !important;
                            flex-direction: column;
                            align-items: flex-start;
                            margin: 10px 0;

                        }
                    }
                }
            }
         
        }
    }
}